[project]
	description = Java (Maven) application for tracking time on the job
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/SanCM
[access "refs/for/refs/*"]
	read = group user/SanCM
	push = group user/SanCM
	label-Code-Review = -2..+2 group user/SanCM
	label-Verified = -1..+1 group user/SanCM
	rebase = group user/SanCM
	removeReviewer = group user/SanCM
	submit = group user/SanCM
[access "refs/heads/*"]
	read = group user/SanCM
	create = group user/SanCM
	push = +force group user/SanCM
	pushMerge = group user/SanCM
[access "refs/tags/*"]
	push = +force group user/SanCM
	pushTag = group user/SanCM
	pushSignedTag = group user/SanCM
